<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRT Sniffer</title>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <!--<link rel="stylesheet" href="udp.css">-->

    <script src="
        https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js
        "></script>

</head>

<body>
<!--- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-black bg-black sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Redes de Computadores</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./ip-list.html">Trabalho 1 - IP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./arp-list.html">Trabalho 2 - ARP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./rip-list.html">Trabalho 3 - RIP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./udp-list.html">Trabalho 4 - UDP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="./tcp-list.html">Trabalho 5 - TCP</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">


        <!--- SIDEBAR -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar overflow-y-auto position-sticky">
            <ul class="nav navbar-nav flex-column list-unistyled" id="sidebar_ul">

            </ul>

        </nav>


        <div class="col">

            <form class="form-inline" onsubmit="submiter(); return false;">

                <div class="form-group mb-2 mr-2">
                    <label for="ipv4_selectc" class="sr-only">Conexão</label>
                    <select class="form-control" id="ipv4_selectc" required></select>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>


            <div class="row">
                <div class="col">
                    <h2>Number of Packets</h2>
                    <div id="n_pkt_chart" style="width: 500px; height: 400px;"></div>
                </div>
                <div class="col">
                    <h2>Window Size Over Time</h2>
                    <div id="w_size_chart" style="width: 500px; height: 400px;"></div>
                </div>
            </div>


            <div class="row">

                <div class="col">
                    <h2>Payload Size Over Time</h2>
                    <div id="payload_size_chart" style="width: 600px; height: 400px;"></div>
                </div>
                <div class="col">
                    <h2>TCP Port Services</h2>
                    <table class="table table-bordered" id="ports_table">
                        <thead class="table-dark">
                        <tr>
                            <th>IP</th>
                            <th>Source Port</th>
                            <th>Destination Port</th>
                            <th>Service</th>
                        </tr>
                        </thead>
                        <tbody id="ports_table_body">
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>


    <script src="tcp.js"></script>
</div>
</body>

</html>