<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhos de Redes de Computadores</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <header>
        <h1>Trabalhos de Redes de Computadores</h1>
        <p><strong>Alunos:</strong>Lucas Caetano</p>
    </header>
    <a href="./trabalho1/trabalho1.html">Trabalho 1</a>
    <a href="./trabalho2/trabalho2.html">Trabalho 2</a>
    <a href="./trabalho3/trabalho3.html">Trabalho 3</a>
    <a href="./trabalho4/trabalho4.html">Trabalho 4</a>
    <a href="./trabalho5/trabalho5.html">Trabalho 5</a>
    <a href="./trabalho6/trabalho6.html">Trabalho 6</a>
    <a href="./trabalho7/trabalho7.html">Trabalho 7</a>
    <a href="./trabalho8/trabalho8.html">Trabalho 8</a>
</body>

</html>