<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho 3</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="trabalho3.js"></script>
</head>

<body>
    <h1>Dados de tráfego - Protocolo RIP</h1>
    <h2>Total de pacotes: <span id="totalPacotes"></span></h2>
    <h2>Gráfico cada IP de origem do roteador e suas chamadas:</h2>
    <canvas id="originIp" width="600" height="400"></canvas>
    <h2>Gráfico para quantidade de respostas e requisições</h2>
    <canvas id="reqRes" width="400" height="400"></canvas>

</body>

</html>